*{
    margin:0;
    padding: 0;
    font-family: Roboto, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

nav {
    width:100%;
    height:65px;
    background-color: #6699CC
}
nav div img.logo {
    float: left;
    padding-top: 2.5px;
}

nav div.navigation ul li{
    display: inline-block;
    float: right;
}

nav div.navigation ul li a{
    line-height: 65px;
    padding: 15px 30px ;
    text-decoration: none;
    color:#fff;
}

nav div.navigation ul li a:hover {
    color: white;
    background: orange;
    padding: 23px 30px;
}

div.box {
    width: 600px;
    height: auto;
    padding-left: 20px;
    text-align: left;
    
}

div.naglowek_listaFirm h1 {
    
    text-align: center;
    margin: 0;
    padding: 60px 0 20px;
    font-size: 40px;
}

div.box p {
    margin: 0;
    padding: 15px;
    font-weight: bold;

}

div.box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    width: 90px;
    background: orange;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    margin: 5px;
    margin-left: 20px;
}

div.box input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

#footer {
    background-color: #6699CC;
    height: 40px;
    width: 100%;
    line-height: 40px;
    text-align: center;
    clear: both;
    position: fixed;
    bottom: 0;
}
