{% load static %}
<html>

<head>

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="{% static "/style.css" %}">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>

<body id="LoginForm">
<div id="top" class="top">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">

        </div>
        <div class="mx-auto order-0 text-center">
            <a class="navbar-brand mx-auto" href="{% url 'main' %}">Uniwersytet Warmińsko-Mazurski</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">

            <ul class="navbar-nav ml-auto">

            </ul>

        </div>
    </nav>
</div>
<div class="container">
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>Rejestracja dla studenta</h2>
                <p>Wypełnij wymagane pola</p>
            </div>
            <form id="Login" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.email }}

                </div>
                <div class="form-group">

                    {{ form.nrindeks }}

                </div>
                <div class="form-group">

                    {{ form.name }}

                </div>
                <div class="form-group">

                    {{ form.surname }}

                </div>
                <div class="form-group">

                    {{ form.pesel }}

                </div>
                <div class="form-group">

                    {{ form.password1 }}

                </div>
                <div class="form-group">

                    {{ form.password2 }}

                </div>
                <button type="submit" class="btn btn-primary">Zarejestruj</button>

            </form>
        </div>
    </div>
</div>
</div>
<div id="footer" class="footer">
    <div class="footer-copyright text-center py-3 bg-dark text-white">
        © Copyright: Projekt Zespołowy 2018/2019
    </div>
</div>

</body>

</html>