{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static "signup.css" %}">
    <title>Rejestracja</title>
</head>
<body>
<div class="box">
        <img class="avatar" src="{% static 'img/avatar1.png' %}" alt="avatar">
        <h1>REJESTRACJA</h1>
            <form method="POST" >
                {% csrf_token %}
                <p>E-mail</p>
                {{ form.email }}
                <p>Imie</p>
                {{ form.name }}
                <p>Nazwisko</p>
                {{ form.surname }}
                <p>Nr Indeksu</p>
                {{ form.nrindeks }}
                <p>Pesel</p>
                {{ form.pesel }}
                <p>Hasło</p>
                {{ form.password1 }}
                <p>Powtórz Hasło</p>
                {{ form.password2 }}
                <input type="submit" value="Zarejestruj">
            </form>
            <a href="{% url 'login' %}">Logowanie </a><br>
            <a href="{% url 'main' %}">Wróć do strony głównej</a>
    </div>
</body>

</html>