{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,900&subset=latin-ext">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static "dolacz.css" %}">
    <title>Rejestracja na Praktyki</title>
</head>
<body>
<div id="wrapper">
    <nav>
        <div>
            <img class="logo" src="{% static 'img/uwm2018.png' %}" height=60 alt="uwm">
        </div>
        <div class="navigation">
            <ul>
                <li><a href="{% url 'logout' %}">Wyloguj</a></li>
                <li><a href="{% url 'user_settings' %}">Konto</a></li>
                <li><a href="{% url 'praktyki' %}">Lista Praktyk</a></li>
                <li><a href="{% url 'main' %}">Strona główna</a></li>
            </ul>
        </div>
    </nav>
    <div class="naglowek_dolacz">
        <h1>Czy chcesz dołączyć do wybranych praktyk ?</h1>
    </div>
    <form method="POST">
        {% csrf_token %}
        {{ form.id_Praktyki }}
        {{ form.uczestnik }}
        <div class="przyciski_dolacz">
            <input type="submit" value="Dołącz">
            <button><a href="{% url 'praktyki' %}">Wróć</a></button>
        </div>
    </form>

</div>
<footer id="footer">
    <div class="notka">
        <p>&copy; Copyright Projekt Zespołowy 2019</p>
    </div>
</footer>