{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,900&subset=latin-ext">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static "dodaj_praktyke.css" %}">
    <title>Rejestracja na Praktyki</title>
</head>
<body>
    <div id="wrapper">
        <nav>
            <div>
                <a href="http://www.uwm.edu.pl"> <img class="logo" src="{% static 'img/uwm2018.png' %}" height=60 alt="uwm"></a>
            </div>
            <div class="navigation">
                <ul>
                    <li><a href="{% url 'logout' %}">Wyloguj</a></li>
                    <li><a href="{% url 'user_settings' %}">Konto</a></li>
                    <li><a href="{% url 'praktyki' %}">Lista Praktyk</a></li>
                    <li><a href="{% url 'main' %}">Strona główna</a></li>
                </ul>
            </div>
        </nav>
        <div class="box">
        <div class="box_dodajPraktyke">
            <img class="avatar" src="{% static 'img/avatar2.png' %}" alt="avatar">
            <h1>Dodaj Praktyke</h1>
                <form method="POST">
                    {% csrf_token %}
                    <p>Stanowisko</p>
                    {{ form.stanowisko }}
                    <p>Wynagrodzenie</p>
                    {{ form.wynagrodzenie }}
                    <p>Miasto</p>
                    {{ form.miasto }}
                    <p>Opis</p>
                    {{ form.opis }}
                    <p>Data rozpoczęcia praktyk</p>
                    {{ form.dataRozpoczecia }}
                    <p>Data zakończenia praktyk</p>
                    {{ form.dataZakonczenia }}
                    {{ form.id_Firma }}
                    <input type="submit" value="Dodaj">
                </form>
        </div>
        </div>
        <footer id="footer">
            <div class="notka">
            <p>&copy; Copyright Projekt Zespołowy 2019</p>
            </div>
        </footer>
    </div>
</body>
</html>